@charset "UTF-8";

table {
    border-collapse: collapse; /*junta as bordas*/
}

td {
    border: 1px solid black;
    padding: 8px;
}
.linha1 {
    background-color: rgb(255, 38, 0);
}

.linha2 {
    background-color: rgb(229, 255, 0);
}

.linha3 {
    background-color: rgb(0, 255, 0);
}

.linha4 {
    background-color: rgb(0, 217, 255);
}