@charset "UTF-8";

table {
    border-collapse: collapse;
    width: 400px;
}


td, th {
    border: 1px solid black;
    padding: 5px;
}

thead, tfoot {
    background-color: gray;
    color: white;
}

tbody > tr:nth-child(2n) {
    background-color: rgb(226, 224, 224);
}
